.footer {
  background-color: $black;
  padding-top: 45px;
  padding-bottom: 45px;

  &-container {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    width: 145px;
    margin-bottom: 20px;
  }

  &__links {
    width: 40%;
  }

  &__menu {
    justify-content: flex-start;
  }

  &__social {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
  }
}
