* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Alata", sans-serif;
  font-size: 15px;
}

.title {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}
