* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Alata", sans-serif;
  font-size: 15px;
  color: $black;
}

body {
  background-color: $white;
}

h1 {
  font-size: 5rem;

  @include queries.tablet {
    font-size: 3rem;
  }

  @include queries.mobile {
    font-size: 2.7rem;
  }
}

h2 {
  font-size: 3rem;

  @include queries.tablet {
    font-size: 2rem;
  }
}

h3 {
  font-size: 2rem;
}

.title {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}
